<footer>

    <div class="linea-gris">
        <p><p>
    </div>

<div class="container">
	<div class="row">
        <div class="col-4">
        	<ul>
                <h5><b> TRÁMITES </b></h5>
                <p>...</p>
                <p>...</p>
                <p>...</p>
                <p>...</p>
        	</ul>
        </div>
         <div class="col-4">
        	<ul>
                <h5><b> CONTACTO </b></h5>
                <p>...</p>
                <p>...</p>
                <p>...</p>
                <p>...</p>
                <p>...</p>
        	</ul>
        </div>
        <div class="col-4">
        	<ul>
                <h5><b> SERVICIOS </b></h5>
        		<p> ... </p>
                <p> ... </p>    
                <p> ... </p>   	
        	</ul>
        </div>
    </div>
</div>

</footer>